.hd{
	--background: #ADD8E6;
	font-family: 'Times New Roman', Times, serif;
}
ion-textarea{
    background-color: magenta;
    margin: 10px 0 10px 0;
    height:100px;
    color: black;
   }
   ion-button{
       float: right;
       margin: 4px;

   }